@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Roboto+Condensed:700');
h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 60px;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.me {
  background-image: url('./assets/me.jpg');
  background-size: 100%;
}

#masthead {
  background-color: #6ba79d;
  overflow: hidden;
  padding: 2em;
}
header {
  background-color: white;
}

#gear {
  width: 400px;
  transition: transform 100ms linear;
}
#gearContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}